a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

section {
    // overflow-x: hidden;
    padding-bottom: 65px;
    height: 100%;
    margin: 0 12px;
    .bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #d6d7dc;
        margin-left: -12px;
        ul {
            display: flex;
            justify-content: space-around;
            li {
                width: 30%;
                text-align: center;
                a {
                    display: block;
                    padding-top: 32px;
                    padding-bottom: 5px;
                    font-size: 12px;
                    background: url(../images/btn2.png) center 6px no-repeat;
                    background-size: 18px 18px;
                    color: #aeb1b0;
                }
            }
            li.on {
                a {
                    background-image: url(../images/btn2on.png);
                    color: #1b201f;
                }
            }
            li:first-child a {
                background-image: url(../images/btn1.png);
                background-size: 27px;
            }
            li.on:first-child a {
                background-image: url(../images/btn1on.png);
            }
            li:last-child a {
                background-image: url(../images/btn3.png);
                background-size: 21px 16px;
            }
            li.on:last-child a {
                background-image: url(../images/btn3on.png);
            }
        }
    }
}

.babysing {
    .tips{
        text-align: center;
        background-color: #fbee68;
        height: 30px;
        padding: 0 12px;
        width: 100%;
        margin-left: -12px;
        line-height: 30px;
        font-size: 12px;
    }
    .top {
        display: flex;
        justify-content: space-between;
        .search {
            width: 89%;
        }
        input {
            width: 100%;
            padding-left: 30px;
            box-sizing: border-box;
            background: #f4f4f4 url(../images/search.png)10px center no-repeat;
            background-size: 15px 15px;
            color: #adadad;
            border: 0;
            font-size: 12px;
            height: 25px;
            line-height: 25px;
            margin: 5px 0;
            border-radius: 13px;
            &:active {
                border: 0;
            }
        }
        .rank {
            width: 36px;
            margin-top: 1px;
            text-align: center;
            line-height: 1;
            img {
                width: 22px;
                display: block;
                margin: 0 auto;
            }
            a {
                color: #1b201f;
                font-size: 8px;
            }
        }
    }
    .banner {
        margin: 0 -12px;
        img {
            width: 100%;
        }
    }
    .category {
        padding: 11px 0px;
        height: 24px;
        border-bottom: 1px solid #ecefef;
        overflow: hidden;
        li {
            float: left;
            color: #aeb1b0;
            font-size: 14px;
            margin-right: 16px;
            height: 22px;
            line-height: 22px;
            border-bottom: 2px solid #fff;
        }
        li.on {
            border-bottom: 2px solid #6ce4ba;
            color: #6ce4ba;
        }
    }
    .mainlist li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ecefef;
        width: 100%;
        padding: 0 12px;
        margin-left: -12px;
        .info {
            display: flex;
            justify-content: left;
            height: 75px;
            padding: 15px 0;
            img {
                float: left;
                width: 75px;
                height: 75px;
                margin-right: 17px;
            }
            .title {
                font-size: 15px;
                color: #1b201f;
                line-height: 25px;
            }
            .singer {
                font-size: 12px;
                line-height: 24px;
                color: #aeb1b0;
            }
            .num {
                line-height: 24px;
                font-size: 12px;
                color: #aeb1b0;
            }
        }
        .singbtn {
            // margin-top: 40px;
            width: 71px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            margin: 40px 7px 0;
            a {
                display: block;
                background: url(../images/mic.png)6px center no-repeat;
                background-size: 16px;
                color: #fff;
                text-indent: 4px;
            }
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            border-radius: 14px;
            text-align: center;
            img {
                width: 13px; // margin-top: 3px;
            }
        }
    }
}

.list {
    .main-list li {
        width: 100%;
        padding: 15px 12px;
        border-bottom: 1px solid #f9f9f9;
        margin-left: -12px;
    }
    .user-info {
        height: 40px;
        line-height: 40px;
        img {
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-right: 10px;
        }
        span {
            color: #1b201f;
            font-size: 15px;
        }
    }
    .content {
        color: #1b201f;
        font-size: 15px;
        padding: 12px 0;
    }
    .song {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ecefef;
        width: 100%;
        background: #f4f4f4;
        .info {
            display: flex;
            justify-content: left;
            height: 75px; // padding: 15px 0;
            a {
                float: left;
                position: relative;
                width: 75px;
                height: 75px;
                margin-right: 17px;
                display: block;
            }
            a:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: 0.11);
                background-image: url(../images/play.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 17px;
            }
            img {
                width: 75px;
                height: 75px;
            }
            .title {
                font-size: 15px;
                color: #1b201f;
                line-height: 25px;
            }
            .singer {
                font-size: 12px;
                line-height: 24px;
                color: #aeb1b0;
            }
            .num {
                line-height: 24px;
                font-size: 12px;
                color: #aeb1b0;
                span {
                    margin-right: 15px;
                }
            }
        }
        .singbtn {
            // margin-top: 40px;
            width: 53px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            margin: 25px 7px 0;
            a {
                display: block; // background: url(../images/mic.png)6px center no-repeat;
                // background-size: 16px;
                color: #fff; // text-indent: 4px;
            }
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            border-radius: 14px;
            text-align: center;
            img {
                width: 13px; // margin-top: 3px;
            }
        }
    }
}

.me {
    .user-info {
        width: 100%;
        height: 180px;
        background: linear-gradient(to left, #6ce4ba, #77e46c);
        text-align: center;
        padding: 0 12px;
        margin-left: -12px;
        img {
            width: 53px;
            height: 53px;
            border: 3px solid #c5f4d5;
            border-radius: 50px;
            margin-top: 53px;
        }
        .username {
            color: #fff;
            font-size: 15px;
            margin-top: 9px;
            line-height: 1;
        }
    }
    .lolipop {
        width: 100%;
        height: 60px;
        line-height: 60px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -30px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 3.5px 4.5px rgba($color: #000000, $alpha: 0.11);
        .num {
            padding-left: 53px;
            background: url(../images/lolipop.png)15px center no-repeat;
            background-size: 31px;
        }
        a {
            margin: 16px;
            color: #6ce4ba;
            font-size: 12px;
            height: 25px;
            width: 64px;
            line-height: 25px;
            text-align: center;
            border-radius: 13px;
            border: 1px solid #6ce4ba;
        }
    }
    .album-list {
        .album-title {
            color: #1b201f;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        ul {
            display: flex;
            justify-content: left;
            flex-wrap: wrap;
            text-align: left;
            li {
                width: 32%;
                margin-right: 2%;
                margin-bottom: 30px;
                a {
                    position: relative;
                    display: block;
                    width: 100%;
                }
                a:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($color: #000000, $alpha: 0.11);
                    background-image: url(../images/play.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 17px;
                }
            }
            li:nth-child(3n) {
                margin-right: 0;
            }
            img {
                width: 100%;
            }
            .title {
                color: #1b201f;
                font-size: 13px;
                line-height: 30px;
                font-weight: bold;
            }
            .num {
                padding-left: 15px;
                background: url(../images/lolipop.png)1px center no-repeat;
                background-size: 12px;
                color: #adadad;
                font-size: 12px;
                height: 17px;
                line-height: 17px;
            }
        }
        .login-in a {
            display: block;
            margin: 115px auto 20px;
            width: 115px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #fff;
            border-radius: 25px;
            font-size: 18px;
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            box-shadow: 0 0 10px rgba($color: #74e485, $alpha: .75)
        }
        .login-in-tips {
            font-size: 15px;
            color: #1b201f;
            text-align: center;
        }
        .nowork {
            text-align: center;
            color: #adadad;
            font-size: 13px;
            img {
                width: 79px;
                margin-top: 100px;
                margin-bottom: 15px;
            }
        }
    }
    .hover {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .5);
        position: fixed;
        top: 0;
        left: 0;
        .tips {
            // margin:0 47.5px;
            width: 280px;
            height: 279px;
            border-radius: 4px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: #fff;
            .content {
                font-size: 18px;
                line-height: 2;
                padding: 45px 30px 0;
            }
            .btn {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #d2d3d5;
                div {
                    float: left;
                    width: 49%;
                    text-align: center;
                    &:last-child {
                        a {
                            color: #6ce4ba;
                        }
                        border-left: 1px solid #d2d3d5;
                    }
                }
            }
        }
    }
}

.rank {
    .banner {
        margin: 0 -12px;
        img {
            width: 100%;
        }
    }
    .top {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        div {
            display: table-cell;
            vertical-align: bottom;
            .title {
                color: #1b201f;
                font-size: 20px;
                font-weight: bold;
                margin-right: 10px;
            }
            .me {
                color: #adadad;
                font-size: 12px;
                font-weight: bold;
            }
        }
        a {
            color: #6ce4ba;
            display: inline-block;
            height: 25px;
            width: 64px;
            text-align: center;
            font-size: 13px;
            border: 1px solid #6ce4ba;
            border-radius: 13px;
            line-height: 25px;
        }
    }
    ul li {
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
        height: 65px;
        line-height: 65px;
        border-bottom: 1px solid #ecefef;
        .therank {
            display: inline-block;
            width: 25px;
            text-align: right;
        }
        img {
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 11px;
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        color: #1b201f;
        font-weight: bold;
        .userinfo {
            font-size: 15px;
            display: flex;
        }
        .lolipop {
            font-size: 13px;
            padding-left: 15px;
            background: url(../images/lolipop.png)left center no-repeat;
            background-size: 10px;
        }
    }
    li.special .therank {
        color: #fff;
        text-indent: 9999px;
        background: url(../images/first.png)right center no-repeat;
        background-size: 12px;
    }
    li.first .username {
        color: #ec6e4b;
    }
    li.second .username {
        color: #f4ba5c;
    }
    li.second .therank {
        background-image: url(../images/second.png);
    }
    li.third .username {
        color: #7ac9f5;
    }
    li.third .therank {
        color: #7ac9f5;
        background-image: url(../images/third.png);
    }
    .rank-tip {
        text-align: center;
        color: #adadad;
        font-size: 12px;
        margin: 20px 0;
    }
    .login-in a {
        display: block;
        margin: 115px auto 20px;
        width: 115px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: #fff;
        border-radius: 25px;
        font-size: 18px;
        background: linear-gradient(to left, #6ce4ba, #77e46c);
        box-shadow: 0 0 10px rgba($color: #74e485, $alpha: .75)
    }
    .login-in-tips {
        font-size: 15px;
        color: #1b201f;
        text-align: center;
    }
    .hover {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .5);
        position: fixed;
        top: 0;
        left: 0;
        .tips {
            // margin:0 47.5px;
            width: 280px;
            height: 279px;
            border-radius: 4px;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: #fff;
            .content {
                font-size: 15px;
                line-height: 1;
                padding: 25px 30px 0;
            }
            .btn {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-top: 1px solid #d2d3d5;
                div {
                    // float: left;
                    width: 100%;
                    color: #6ce4ba;
                    text-align: center;                    
                }
            }
        }
    }
}

.sing {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    .bg {
        position: fixed;
        z-index: -1;
        filter: blur(10px);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #b4b0fa url(../images/logo.png) center no-repeat;
    }
    .hover {
        height: 100%;
        background: rgba($color: #222419, $alpha: .8)
    }
    .top {
        display: flex;
        justify-content: space-around;
        div {
            a {
                display: block;
                padding-top: 33px;
                margin-top: 47px;
                font-size: 12px;
                font-weight: bold;
                width: 33px;
                text-align: center;
                color: #aeb1b0;
            }
        }
        .company a {
            background: url(../images/companyoff.png) center 0 no-repeat;
            background-size: 27px;
        }
        .company.on {
            a {
                background-image: url(../images/companyon.png);
                background-size: 33px;
                color: #fff;
            }
        }
        .source a {
            background: url(../images/sourceoff.png) no-repeat;
            background-size: 28px;
            background-position: center 1px;
        }
        .source.on {
            a {
                background-image: url(../images/sourceon.png);
                background-size: 34px;
                background-position: center 0;
                color: #fff;
            }
        }
    }
    .content {
        text-align: center;
        margin-top: 44px;
        font-weight: bold;
        font-size: 18px;
        .song-name {}
        .lyrics {
            margin-top: 16px;
            font-size: 15px;
            line-height: 25px;
        }
    }
    .bottom-btn {
        position: fixed;
        bottom: 23px;
        width: 100%;
        .func {
            display: flex;
            justify-content: space-between;
            div {
                padding: 20px 33px;
                margin-top: 33px;
                font-size: 12px;
                font-weight: bold;
                width: 33px;
                text-align: center;
                &.effect {
                    background: url(../images/effect.png) center 1px no-repeat;
                    background-size: 21px;
                }
                &.stop {
                    background: url(../images/stop.png) center 0px no-repeat;
                    background-size: 20px;
                }
            }
        }
        .btn {
            text-align: center;
            margin: 0 63px;
            height: 52px;
            font-size: 18px;
            font-weight: bold;
            line-height: 52px;
            border-radius: 26px;
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            a {
                color: #fff;
            }
        }
    }
}

.publish {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 29px 0px; // background: #b4b0fa url(../images/logo.png) center no-repeat;
    .bg {
        position: fixed;
        z-index: -1;
        filter: blur(17px);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #b4b0fa url(../images/logo.png) center no-repeat;
    }
    color: #fff;
    text-align: center;
    .content {
        margin: 0px 12px;
        padding-bottom: 20px;
        background-color: #fff;
        border-radius: 4px;
        .logo {
            width: 87px;
            margin: 0 auto;
            position: relative;
            top: -11px;
            background-color: #fff;
            border-radius: 15px;
            img {
                padding-top: 9px;
                width: 67px;
            }
        }
        .title {
            color: #1b201f;
            font-size: 20px;
            font-weight: bold;
        }
        .score {
            padding: 30px 0 40px;
            font-size: 50px;
            color: #f9de59;
        }
        .replay {
            margin: 0 35px;
            &.playing a::before {
                background-image: url(../images/pause.png);
            }
            a {
                color: #fff;
                font-size: 18px;
                display: block;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 17px;
                    height: 45px;
                    background: url(../images/play.png) center no-repeat;
                    background-size: 17px;
                    vertical-align: middle;
                    margin-top: -3px;
                }
            }
            height: 45px;
            line-height: 45px;
            border-radius: 23px;
            background: linear-gradient(to left, #da556d, #e37a90);
        }
    }
    .bottom-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 75px;
        background-color: #fff;
        a {
            display: block;
            margin: 12.5px auto;
            border-radius: 25px;
            width: 115px;
            height: 50px;
            font-size: 18px;
            color: #fff;
            font-weight: bold;
            line-height: 50px;
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            box-shadow: 0 0 10px rgba($color: #74e485, $alpha: .75)
        }
        .save {
            position: absolute;
            right: 24px;
            top: 40px;
            color: #8d8f8e;
            font-size: 10px;
            input {
                display: none;
            }
            input:checked+label {
                padding-top: 20px;
                background: url(../images/save.png) center top no-repeat;
                background-size: 16px;
            }
        }
    }
    .hover {
        position: fixed;
        z-index: 999;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .63);
        color: #75e47c;
        font-size: 18px;
        text-align: center;
        .tips {
            position: relative;
            top: 50%;
        }
    }
}

section.detail {
    height: 100%;
    padding: 0;
    margin: 0;
    .content {
        position: relative;
        text-align: center;
        color: #fff;
        width: 100%;
        height: 155px;
        background: rgba(#4c4d44, .81);
        padding-top: 65px;
        font-size: 18px;
        line-height: 25px;
        font-weight: bold;
        .lyric {
            margin-top: 35px;
            font-size: 15px;
            color: #fbeb52;
        }
        .bg {
            position: absolute;
            z-index: -1;
            filter: blur(10px);
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #b4b0fa url(../images/logo.png) center no-repeat;
        }
        .control {
            position: absolute;
            width: 100%;
            bottom: 10px;
            height: 18px;
            line-height: 18px;
            .play {
                width: 14px;
                height: 18px;
                margin-left: 20px;
                background: url(../images/play.png) center no-repeat;
                background-size: 14px;
                float: left;
                &.playing {
                    background-image: url(../images/pause.png);
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            .progress-bar {
                height: 18px;
                padding-left: 44px;
                padding-right: 100px;
                .bar-inner {
                    margin-top: 8px;
                    height: 2px;
                    width: 100%;
                    background: #fff;
                    position: relative;
                    .progress {
                        position: absolute;
                        top: -1px;
                        width: 50%;
                        height: 4px;
                        background: #fbec53;
                    }
                    .progress-btn {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: #fbec53;
                        position: absolute;
                        left: 50%;
                        top: -5px;
                    }
                }
            }
            .time {
                float: right;
                margin-right: 18px;
                font-size: 12px;
            }
        }
    }
    .user-info {
        padding: 15px 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ecefef;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
        }
        .left {
            display: flex;
            justify-content: start;
            .middle {
                margin-top: 10px;
                margin-left: 11px;
                color: #1b201f;
                font-size: 15px;
                .num {
                    color: #adadad;
                    margin-top: 10px;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }
        }
        .score {
            color: #cec42b;
            font-size: 10px;
            span {
                font-size: 23px;
            }
        }
    }
    .recieve-lolipop {
        display: flex;
        justify-content: space-between;
        height: 58px;
        line-height: 58px;
        border-bottom: 1px solid #ecefef;
        .title {
            padding-left: 59px;
            background: url(../images/lolipop.png)23px center no-repeat;
            background-size: 22px;
            color: #1b201f;
            font-size: 15px;
        }
        .num {
            color: #6ee4a9;
            padding-right: 40px;
        }
    }
    .lolipop-num {
        position: fixed;
        width: 100%;
        bottom: 59px;
        height: 37px;
        line-height: 37px;
        background-color: #f3f3f3;
        display: flex;
        justify-content: space-between;
        text-align: center;
        .send {
            width: 56px;
            background-color: #f3b45d;
            color: #fff;
        }
        span {
            height: 22px;
            line-height: 22px;
            margin-top: 6px;
            width: 54px;
            border-radius: 11px;
            border: 1px solid #f3b45d;
            margin-left: 12px;
            &.on {
                color: #fff;
                background: linear-gradient(to left, #f3b45d, #f9de59);
            }
        }
    }
    .bottom-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background: linear-gradient(to left, #6ce4ba, #77e46c);
        div {
            width: 50%;
            text-align: center;
            height: 49px;
            font-size: 10px;
            padding-top: 10px;
            a {
                padding-top: 25px;
                height: 100%;
                display: block;
                color: #fff;
                background: url(../images/share.png)center 0 no-repeat;
                background-size: 21px;
            }
            &.lolipop {
                background: rgba(#fff, .2);
                a {
                    background-image: url(../images/white-lolipop.png);
                }
            }
        }
    }
}

.record {
    li {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;
        padding: 0 12px;
        margin-left: -12px;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid #ecefef;
        font-size: 15px;
        font-weight: bold;
        color: #1b201f;
        span:last-child {
            color: #6ce4ba;
        }
    }
}

.login {
    margin: 0 48px;
    padding: 0;
    .title {
        padding-top: 115px;
        margin-bottom: 40px;
        font-size: 60px;
        color: #2f2f25;
    }
    div {
        position: relative;
        input {
            background-color: #f8f8f8;            
            height: 40px;
            line-height: 40px;
            text-indent: 12px;
            font-size: 15px;
            color: #bdbdbd;
            border-radius: 4px;
            border: 1px solid #f1f1f1;
            margin-bottom: 4.5px;
            width: 100%;
        }
        a {
            position: absolute;
            right: 6px;
            top: 6px;
            background: #6de4b0;
            width: 67px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            color: #fff;
            border-radius: 4px;
        }
    }
    form>input{
        margin-top: 37px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        border-radius: 25px;
        border:0;
        background: linear-gradient(to left, #6ce4ba, #77e46c);
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 10px rgba($color: #74e485, $alpha: .75)
    }
}

.search{
    padding: 0;
    input{
        margin-top: 38px;
        margin-bottom: 28px;
        width: 100%;
        height: 35px;
        line-height: 35px;
        border:0;    
        font-size: 12px;
        color: #adadad;
        border-radius: 18px;
        text-indent: 42px;
        background:#f4f4f4 url(../images/search.png)15px center no-repeat;
        background-size: 15px;
    }
    .mainlist li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ecefef;
        width: 100%;
        padding: 0 12px;
        margin-left: -12px;
        .info {
            display: flex;
            justify-content: left;
            height: 75px;
            padding: 15px 0;
            img {
                float: left;
                width: 75px;
                height: 75px;
                margin-right: 17px;
            }
            .title {
                font-size: 15px;
                color: #1b201f;
                line-height: 25px;
            }
            .singer {
                font-size: 12px;
                line-height: 24px;
                color: #aeb1b0;
            }
            .num {
                line-height: 24px;
                font-size: 12px;
                color: #aeb1b0;
            }
        }
        .singbtn {
            // margin-top: 40px;
            width: 71px;
            height: 28px;
            line-height: 28px;
            font-size: 14px;
            margin: 40px 7px 0;
            a {
                display: block;
                background: url(../images/mic.png)6px center no-repeat;
                background-size: 16px;
                color: #fff;
                text-indent: 4px;
            }
            background: linear-gradient(to left, #6ce4ba, #77e46c);
            border-radius: 14px;
            text-align: center;
            img {
                width: 13px; // margin-top: 3px;
            }
        }
    }
    .nowork {
        text-align: center;
        color: #adadad;
        font-size: 13px;
        img {
            width: 79px;
            margin-top: 100px;
            margin-bottom: 15px;
        }
    }
    .history{
        
        position: fixed;
        top:100px;
        width: 100%;
        padding-bottom: 50px;
        // height: 100%;
        background: #fff;
        li{
            border-bottom: 1px solid #ecefef;
            line-height: 45px;
            height: 45px;
            color: #aeb1b0;
            font-size: 15px;
            &:first-child{
                color: #1b201f;
            }
        }
    }
}